<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

</head>
<body>

<style>
.demo {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: gray;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
</style>

    <div id="app">
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div>
        <div class="demo" :style="[myStyle, {height: width + 'px'}]"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
      </div>


<script>

    new Vue({
    el: '#app',
    data:{
        color: 'green',
        color2: 'red',
        width: 100,
    },
    computed: {
        myStyle: function(){
            return {
            backgroundColor: this.color2,
            width: this.width + 'px',
            }
        }
    }
    });

</script>


</body>
</html>




